.container {
    padding: 0;
    margin: 0 auto;
}

.game-cards {
    padding-top: 25px;
    padding-bottom: 25px;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(4, 120px);
    column-gap: 15px;
    justify-content: center;
}