.club {

    .card__back--item-1::after,
    .card__back--item-3::after {
        content: '♣';
        color: #ffffff;
        font-size: 15px;
    }
    
    
    
    .card__back--item-2 {

        color: #ff0000;

        }

    
    .id-10 {
        font-size: 25px;
    }
    
    /*Jack*/
    
    .jack {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    
    
        .heart-1 {
            font-size: 155px;
        }
    }

}
    

    
    
    
    
    
    
    