.diamands {
    
    .card__back--item-1 {

        color: #ffffff;

    }
    
    .card__back--item-1::after,
    .card__back--item-3::after {
        content: '♦';
        color: #ffffff;
        font-size: 15px;
    }
    
    .card__back--item-3 {

        color: #ffffff;

    }
    
    
    .card__back--item-2 {
 
        color: #ff0000;

        }
    
}

    
    
    
    
    
    