
  
.card {
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .card__front, .card__back {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .card__back {
    transform: rotateY(180deg);
    border: 2px solid rgb(196, 20, 20);
	  border-radius: 15px;
	  background-color: #000000;
	  -webkit-box-shadow: 7px 7px 28px -3px rgba(0,0,0,0.77);
    -moz-box-shadow: 7px 7px 28px -3px rgba(0,0,0,0.77);
    box-shadow: 7px 7px 28px -3px rgba(0,0,0,0.77);
	  overflow: hidden;
  }

  .card__front {
    border: 2px solid rgb(196, 20, 20);
    border-radius: 15px;
    background-color: #000000;
    width: 150px;
    height: 250px;
    background: rgb(252,70,107);
    background: radial-gradient(circle, rgba(252,70,107,1) 9%, rgba(0,0,0,1) 71%);
}


