body {
    background-color: rgb(35, 105, 105);
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.game-cards {
    padding-top: 25px;
    padding-bottom: 25px;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(2, 120px);
    column-gap: 15px;
    row-gap: 15px;
    justify-content: center;
}









