body {
    background-color: rgb(35, 105, 105);
}

* {
    box-sizing: border-box;
    line-height: 1;
}

.container {
    max-width: 930px;
    padding: 0 15px;
    margin: 0 auto;
}


.card {
    margin-bottom: 10px;
}

.game-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    justify-content: center;
}







